/* Menu dạng overlay chung */
.category-overlay {
    position: absolute;
    top: 65px; /* đúng bằng chiều cao nút toggle */
    left: 0;
    width: calc(100% - 30px);
    display: none;
    z-index: 1000;
    margin-left: 15px;
}

.category-overlay.show {
    display: block;
}
/* Trên Home thì menu cần dính sát dưới toggle */
.category-overlay.home {
    top: 65px; /* đúng chiều cao của button */
}

/* Trên Shop thì có PageHeader ngay dưới, ta muốn đè lên */
.category-overlay.shop {
    top: 65px;
}